.cardsTableHeader {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    background: #ECECF9;
    color: #2D2E46;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.question {
    width: 35%;
    cursor: pointer;
}

.answer {
    width: 35%;
    margin-right: 10px;
    cursor: pointer;
}

.lastUpdated {
    width: 17%;
    cursor: pointer;
}

.grade {
    width: 10%;
    cursor: pointer;
}

.actions {
    width: 18%;
}