.passwordRecovery {
    width: 370px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background: #F9F9FE;
    position: relative;
}

.title {
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #2D2E46;
    margin-bottom: 32px;
}

.subTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2D2E46;
    margin-bottom: 50px;
}

.passwordRecovery__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputEmail {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1.5px solid #24254A;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.5;
    color: #2D2E46;
    margin-bottom: 30px;
}

.enterEmail__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
    margin-bottom: 90px;
}

.sendInstructions__button {
    padding: 9px 85px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #ECECF9;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background: #21268F;
    box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    margin-bottom: 30px;
    border: none;
    cursor: pointer;
}

.rememberPassword__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rememberPassword__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
    margin-bottom: 15px;
}

.tryLoggingIn__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #21268F;
    text-decoration: none;
    cursor: pointer;
}

.inputFormError {
    color: red;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 36px;
}

