.container {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.active {
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color: red;
    font-weight: bold;
    border: 1px solid;
    border-radius: 20px;
}

.item {
    margin-top: 5px;
    text-decoration: none;
    color: black;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
}