.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(238,174,202);
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
}

.loader {
    justify-content: center;
    align-items: center;
}
